.rightPaneBox{
    flex: 3;
    overflow-y: scroll;
    height: calc(100vh - 50px);
    position: sticky;
    top: 50px;

}
.rightPainContainer{
    padding: 20px 0 0;
}
.adImage{
    width: 300px;
    height: 200px;
    margin-top: 10px;
    border-radius: 5%;

}
.adContainer{
    margin-top: 10px;
    font-family: sans-serif;

}

.sponsor{
    font-weight: bold;
    size: 20px;
    color: rgb(99, 93, 93);
}
.birthdayImage{
    width: 50px;
    height: 50px;
    margin-top: 20px;
    margin-left: 5px;
}
.birthdayContainer{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.birthdayText{
    margin-top: 20px;
}
.onlineFriend{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.24); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.24);
    border-radius: 10px;
    margin-bottom: 10px;
}
.onlineFriendImg{
    width: 40px;height: 40px;border-radius: 50%;
    object-fit: cover;
}
.onlineFriendImageContainer{
    display: flex;
    position: relative;
}
.onlineStatus{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: lime;
    position: absolute;
    top: 30px;
    right: 0;
    border: 2px solid white;
}
.onlineFriendName{
    margin-left: 10px;

}